/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cancel-btn {
  padding: 3px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  float: right;
  width: 80px;
}

.cancel-btn:hover {
  background-color: rgb(151, 151, 151);

}

.guardar-btn {
  padding: 3px;
  background-color: teal;
  color: white;
  width: 145px;
  border-radius: 10px;
  float: left;
}

.guardar-btn:hover {
  background-color: rgb(3, 151, 151);
  color: white;
}

.input-txt[type=text] {
  width: 60%;
  padding: 12px, 20px;
  margin: 8px;
  border: 1px solid;
  border-radius: 4px;
}